body { margin-left: 25%; margin-right: 25%; margin-bottom: 5%; }
form { text-align: center; }

.content{
	display: block;
   position: relative;
   overflow: hidden;
   width: 100%;
}

.footer{
	width: 100%;
	font-size: 80%;
	border-top: thin dotted #D1D0CE;
	margin-top: 5%;
}

.input-group
{
	margin-bottom: 10px;
}

.form{
		margin-bottom: 10px;
}

.tool {
	margin-top: 5px;
	margin-bottom: 10px
}